

    #Pcontain{
        padding-top: 150px
    }
#product-card {
    border-radius: 18px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
#product-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}
#product-img {
    height: 200px;

}
#price {
    font-size: 20px;
    font-weight: 700;
    color: #198754;
}
#old-price {
    text-decoration: line-through;
    color: #999;
    font-size: 14px;
}
#rating i {
    color: #ffc107;
}
#button{
    width: 120px;
    font-size:12px;
    font-weight: bold;
}
